.header {
    padding: 80px;
    text-align: center;
    background: white;
    color: black;
}

.header h1 {
    font-size: 40px;
}

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navber a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right {
    float: right;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}